Требования к дисциплине:

Главная задача состоит в разработке приложения (оконного или в браузере),
визуализирующего все алгоритмы из всех лабораторных работ.
Приложение строит трёхмерный график, который можно вращать, приближать,
можно менять масштаб и на нём виден принцип работы всех генетических,
биоинспирированных и других методов оптимизации из всех лабораторных
работ. Пример: слева график, справа панель с тремя секциями.
Первая самая верхняя: выбор лабораторной работы.
Вторая ниже: параметры масштаба, приближения и т.д.
Самая нижняя: параметры оптимизационного алгоритма, кнопка запуска и т.д.

Всего 8 лабораторных работ. Выполняются в командах по 2 человека.

Требование к самоэкзамену:
выполнение всех 8 лабораторных работ до зачётной недели.
